ECOMMERCE_APP_ENV=development
ECOMMERCE_APP_NAME=ai-e-commerce-api
ECOMMERCE_HTTP_PORT=8080
ECOMMERCE_DATABASE_URL=postgres://ecommerce_user:ecommerce_password@127.0.0.1:55432/ecommerce_db?sslmode=disable
